@import "tailwindcss";
@config "../tailwind.config.js";

@plugin "tailwindcss-animate";

@layer base {
  body {
    @apply [scrollbar-color:_#cbd5e1_transparent] dark:[scrollbar-color:_#334155_transparent];
  }
}

@layer components {
  .sidebar-group {
    @apply flex w-full flex-col gap-y-2;
  }

  .sidebar-group-title {
    @apply overflow-hidden text-sm font-medium text-ellipsis text-slate-600 dark:text-slate-400;
  }

  .sidebar-item {
    @apply flex h-[40px] w-full flex-shrink-0 items-center gap-x-3 rounded-lg p-3 text-base font-medium text-slate-900 transition-colors hover:bg-blue-50 dark:text-slate-50 dark:hover:bg-blue-950;
    &.active {
      @apply bg-blue-500 text-slate-50 dark:bg-blue-600;
    }
  }

  /* Auth */
  .auth-container {
    @apply text-light-100 relative flex flex-col-reverse sm:flex-row;
  }

  .auth-form {
    @apply bg-pattern bg-dark-100 my-auto flex h-full min-h-screen flex-1 items-center bg-cover bg-top px-5 py-10;
  }

  .auth-box {
    @apply gradient-vertical mx-auto flex max-w-xl flex-col gap-6 rounded-lg p-10;
  }

  .auth-illustration {
    @apply sticky h-40 w-full sm:top-0 sm:h-screen sm:flex-1;
  }

  .auth-bg {
    @apply flex min-h-screen items-center justify-center bg-slate-100 dark:bg-slate-900;
  }

  .auth-card {
    @apply relative flex h-[600px] w-[700px] overflow-hidden rounded-2xl shadow-xl dark:bg-slate-900 dark:shadow-slate-700;
  }

  .auth-card-bg {
    @apply absolute top-0 left-1/2 flex h-full w-1/2 items-center justify-center bg-white p-8 dark:bg-slate-900;
  }

  .title {
    @apply text-3xl font-semibold text-slate-900 transition-colors dark:text-slate-50;
  }

  .auth-title {
    @apply mb-4 text-2xl font-semibold text-slate-900 transition-colors dark:text-slate-400;
  }

  .btn-global {
    @apply flex flex-row items-center gap-x-1 rounded-xl bg-blue-500 px-4 py-2 text-white dark:bg-blue-600 dark:text-white;
  }

  .btn-ghost {
    @apply flex h-10 flex-shrink-0 items-center justify-center gap-x-2 rounded-lg p-2 text-slate-400 transition-colors hover:bg-blue-50 hover:text-slate-500 dark:hover:bg-blue-950 dark:hover:text-slate-300;
  }

  .auth-btn {
    @apply flex w-full cursor-pointer flex-row items-center justify-center gap-x-1 rounded-xl bg-teal-500 px-4 py-2 text-teal-950 dark:bg-blue-600 dark:text-white;
  }

  .link {
    @apply text-base font-medium text-slate-900 transition-colors hover:underline dark:text-slate-50;
  }

  .input {
    @apply hidden h-10 flex-shrink-0 items-center gap-x-2 rounded-lg border border-slate-300 px-2 text-base text-slate-900 transition-colors has-[input:focus]:border-blue-500 md:flex md:w-auto lg:w-80 dark:border-slate-700 dark:text-slate-50 dark:focus:border-blue-600;
  }

  .input-styles {
    @apply relative mb-5 flex h-9 w-full leading-9;
  }

  .input-label {
    @apply absolute mx-2 my-0 bg-white px-4 py-0 text-base leading-9 text-slate-900 transition duration-200 ease-in-out dark:bg-slate-900 dark:text-slate-400;
  }

  .input-sh {
    @apply absolute z-10 flex w-full rounded-lg border-2 bg-transparent px-6 py-0 text-sm leading-9 transition duration-100 ease-in-out outline-none dark:border-slate-400 dark:text-slate-50;
  }

  /* Focus State Border*/
  .input-sh:focus {
    @apply border-green-500;
  }

  /* Valid State (Only applies when user has entered text) */
  .input-sh:not(:placeholder-shown):valid {
    @apply border-green-500;
  }

  /* Invalid State (Only applies when user has entered text and it's invalid) */
  .input-sh:not(:placeholder-shown):invalid {
    @apply border-red-500;
  }

  /* Focus State Text*/
  .input-sh:focus + .input-label,
  .input-sh:not(:placeholder-shown):valid + .input-label {
    @apply z-20 h-8 -translate-x-0.5 -translate-y-[18px] scale-[0.88] leading-8 font-semibold text-green-500;
  }

  /* Invalid State (Only applies when user has entered text and it's invalid) */
  .input-sh:not(:placeholder-shown):invalid + .input-label {
    @apply text-red-500;
  }

  .auth-input {
    @apply hidden h-10 flex-shrink-0 items-center gap-x-2 rounded-lg border border-slate-300 px-2 text-base text-slate-900 transition-colors has-[input:focus]:border-blue-500 md:flex md:w-full lg:w-full dark:border-slate-400 dark:text-slate-50 dark:focus:border-blue-600;
  }

  .card {
    @apply flex flex-col gap-y-4 rounded-lg border border-slate-300 bg-white p-4 transition-colors dark:border-slate-700 dark:bg-slate-900;
  }

  .card-header {
    @apply flex items-center gap-x-2;
  }

  .card-title {
    @apply font-medium text-slate-900 transition-colors dark:text-slate-50;
  }

  .card-body {
    @apply flex flex-col gap-y-2 rounded-lg p-4;
  }

  .table {
    @apply w-full border-collapse text-slate-900 dark:text-slate-50;
  }

  .table-header {
    @apply sticky top-0 bg-slate-200 transition-[background] dark:bg-slate-800;
  }

  .table-head {
    @apply h-12 px-4 text-start;
  }

  .table-body {
    display: table-row-group;
    min-height: 100px; /* Ensures body always has height */
  }

  .table-row {
    @apply border-b border-slate-300 align-top transition-colors last:border-none dark:border-slate-700;
  }

  .table-cell {
    @apply w-fit p-4 font-medium whitespace-nowrap;
  }

  /* Ensures table takes full height even with one row */
  .table tbody:has(tr):before {
    content: "";
    display: table-row;
    height: 10px;
    visibility: hidden;
  }
}

.recharts-default-tooltip {
  @apply !rounded-lg !border !border-slate-300 !bg-white transition-colors dark:!border-slate-700 dark:!bg-slate-900;
}

.recharts-tooltip-label {
  @apply text-base font-medium text-slate-900 dark:text-slate-50;
}

.recharts-tooltip-item {
  @apply text-base font-medium !text-blue-500 dark:!text-blue-600;
}
